/* You can add global styles to this file, and also import other style files */
body {
  background-color: black;
  font-family: "Avenir-Roman",sans-serif;
  color: white;
  line-height: 1.5;
  overflow-y: hidden;
  overflow-x: hidden;
}

app-time{
  font-size: 4em;
}

app-weather{
  font-size: 2.5em;
}

#date{
  float: left;
}

#forecast-list{
  list-style: none;
}

.condition{
  font-style: italic;
}

.center{
  text-align: center;
}

li{
  margin-right: 50px;
}
